.modal-dialog{
    width: 20% !important;

    .modal-content{
        background-color: rgb(163, 160, 160);

        .modal-body{
            font-weight: bolder;
            border: none !important;
        }
    }

    
}

